.parent {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    padding: 10px;
}

.child {
    padding: 20px;
    width: 25%;
}

    .child:hover {
        background-color: red;
        color: white;
    }
